<!DOCTYPE html>
<html>
<head>
    <%- include('../app-general/partials/admin-head.ejs') %>
</head>
<body>
    <%- include('../app-general/partials/app-horizontal-nav.ejs') %>
    <div class='admin-body'>
        <div class='left-section'>
            <%- include('../app-general/partials/admin-nav.ejs') %>
        </div>
        <div class='mid-section'>
            <%- include('./partials/admin-region-mid-nav.ejs') %>
            <div class='ageGroup-stats'>
                    <div class='stats-div' id='stats-1'>
                        <div class='stats-div-content'>
                            <h3>Total number of <%=data[0].region%></h3>
                            <p><%=data.length%></p>
                        </div>
                        <img class='stats-div-img' src='https://flxtable.com/wp-content/plugins/pl-platform/engine/ui/images/leaf-white.png'>
                    </div>
                    <div class='stats-div' id='stats-2'>
                        <div class='stats-div-content'>
                            <h3>Total number of regulars</h3>
                            <p><%=regulars%></p>
                        </div>
                        <img class='stats-div-img' src='https://flxtable.com/wp-content/plugins/pl-platform/engine/ui/images/leaf-white.png'>
                    </div>
                    <div class='stats-div' id='stats-3'>
                        <div class='stats-div-content'>
                            <h3>Total number of non-regulars</h3>
                            <p><%=irregulars%></p>
                        </div>
                        <img class='stats-div-img' src='https://flxtable.com/wp-content/plugins/pl-platform/engine/ui/images/leaf-white.png'>
                    </div>
                </div>  
            <table>
                <%- include('./partials/admin-studentdata-table.ejs', {data}) %>
            </table>
        </div>
        <div class='right-section'>
        </div>
    </div>
</body>
</html>