<!DOCTYPE html>
<html>
<head>
    <%- include('../app-general/partials/admin-head.ejs') %>
</head>
<body>
    <%- include('../app-general/partials/app-horizontal-nav.ejs') %>
    <div class='admin-body'>
            <div class='left-section'>
                <%- include('../app-general/partials/admin-nav.ejs') %>
            </div>
            <div class='mid-section'>
                    <%- include('./partials/admin-mid-nav.ejs', {data}) %>  
                    <table>
                        <%- include('./partials/admin-studentdata-table.ejs', {data}) %>
                    </table>

                    <div class='modal' id='child-registration-form'>
                        <div class='modal-content'>
                        <h2>Add New Child</h2>
                        <%- include('./partials/admin-childrenForm.ejs', {data}) %>
                        <input type='submit' value='Close' onclick='closeFormModal()'>
                        </div>
                    </div>
            </div>
            <div class='right-section'>
            </div>
    </div>
</body>
</html>