<!DOCTYPE html>
<html>
<head>
    <%- include('../app-general/partials/admin-head.ejs') %>
</head>
<body>
    <%- include('../app-general/partials/app-horizontal-nav.ejs') %>
    <div class='admin-body'>
            <div class='left-section'>
                <%- include('../app-general/partials/admin-nav.ejs') %>
            </div>
            <div class='mid-section'>
                <%- include('./partials/admin-mid-nav.ejs', {data}) %>

                <div>
                    <form action='./form' method='POST' id='attendance-form'>
                        <h2>Attendance Form</h2>
                        <label for='classDate'>Attendance for Date</label>
                        <select name='classDate'>
                            <% dates.forEach(date => { %>
                                <option value='<%=date%>'><%=date%></option>
                            <% }) %>
                        </select>
                        <h3>Student List</h3>
                        <div id='attendance-form-student-list'>
                        <% data.forEach(datum => { %>
                            <div class='checkbox-pairs'>
                            <input type='checkbox' name='isPresent' value='<%=datum.id%>'>
                            <label for='isPresent'><%=datum.formatChildFullName()%></label><br>
                            </div>
                        <% }) %>
                        </div>
                        <input type='submit' value='Submit' id='attendance-form-submit-button'>
                    </form>
                </div>
                <div class='modal' id='child-registration-form'>
                    <div class='modal-content'>
                    <h2>Add New Child</h2>
                    <%- include('./partials/admin-childrenForm.ejs', {data}) %>
                    <input type='submit' value='Close' onclick='closeFormModal()'>
                    </div>
                </div>
            </div>
            <div class='right-section'>
            </div>
        </div>
</body>
</html>