<form action='/teachers/age/<%=ageGroup%>' method='GET'>
    <input type="submit" value='<%=ageGroup%> Teacher Data' id='nav-subtype-<%=ageGroup%>'>
</form>
<form action='/teachers/age/<%=ageGroup%>/roster' method='GET'>
    <input type="submit" value='<%=ageGroup%> Teacher Roster' id='nav-subtype-roster-<%=ageGroup%>'>
</form>

