<form action='/teachers/age/<%=ageGroup%>' method='GET'>
    <input type="submit" value='<%=ageGroup%> Teacher Data' class='nav-subtype' id='nav-subtype-<%=ageGroup%>'>
</form>
<form action='/teachers/age/<%=ageGroup%>/roster' method='GET'>
    <input type="submit" value='<%=ageGroup%> Teacher Roster' class='nav-subtype' id='nav-subtype-roster-<%=ageGroup%>'>
</form>

