<!DOCTYPE html>
<html>
<head>
    <%- include('../app-general/partials/admin-head.ejs') %>
</head>
<body>
    <%- include('../app-general/partials/app-horizontal-nav.ejs') %>
    <div class='admin-body'>
            <div class='left-section'>
                <%- include('../app-general/partials/admin-nav.ejs') %>
            </div>
            <div class='mid-section'>
                <%- include('./partials/admin-teacher-mid-nav.ejs', {data}) %>
                <form action='/teachers/age/<%=data[0].ageGroup%>/roster?' method='POST'>
                    <table>
                        <tr>
                            <th>Time slots</th>
                            <% timeTable.forEach(date => { %>
                                <th><%=date%></th>
                            <% }) %>
                        </tr>
                        <% for(let z = 0; z < timeslots.length; z++) { %>
                        <tr>
                            <td><%=timeslots[z]%></td>
                            <% for(let i = 0; i < timeTable.length; i++) { %>
                                <td>
                                <% for(let y = 0; y < manpower; y++) { %>
                                    <select name='rosteredTeacher' class='roster-selection' id="myselection">
                                        <option value='<%=timeTable[i]%>'>0</option>
                                        <!-- <% for(let teacherData of data) { %>
                                            <% for(let roster of teacherData.roster) { %>
                                                <% if(roster.isRostered===true) { %>
                                                    <option value='<%=z%>:<%=timeTable[i]%>:<%=teacherData.id%>' selected><%=teacherData.formatTeacherFullName()%></option>
                                                <% } else { %>
                                                    <option value='<%=z%>:<%=timeTable[i]%>:<%=teacherData.id%>'><%=teacherData.formatTeacherFullName()%></option>
                                                <% } %>
                                            <% } %>
                                        <% } %> -->
                                        <% for(const teacher of data) { %>
                                            <% const optionID = `${z}:${timeTable[i]}:${teacher.id}` %>
                                            <% if(rosterArr.includes(optionID)) {%>
                                                <option value='<%=z%>:<%=timeTable[i]%>:<%=teacher.id%>' id='<%=z%>:<%=timeTable[i]%>:<%=teacher.id%>' selected><%=teacher.formatTeacherFullName()%></option>
                                            <% } else { %>
                                                <option value='<%=z%>:<%=timeTable[i]%>:<%=teacher.id%>' id='<%=z%>:<%=timeTable[i]%>:<%=teacher.id%>'><%=teacher.formatTeacherFullName()%></option>
                                            <% } %>
                                        <% } %>
                                        <!-- <% data.forEach(teacher => { %>
                                        <option value='<%=z%>:<%=timeTable[i]%>:<%=teacher.id%>' id='<%=z%>:<%=timeTable[i]%>:<%=teacher.id%>'><%=teacher.formatTeacherFullName()%></option>
                                        <% }) %> -->
                                    </select> 
                                    <% } %>
                                </td>
                            <% } %>
                        </tr>
                        <% } %>
                    </table>
                    <input type='submit' value='submit' onclick='logAllSelectedOptions()'>
                </form>
            </div>
            <div class='right-section'>
            </div>
        </div>
</body>
</html>