<!DOCTYPE html>
<html>
<head>
    <%- include('../app-general/partials/admin-head.ejs') %>
</head>
<body>
    <%- include('../app-general/partials/app-horizontal-nav.ejs') %>
    <div class='admin-body'>
            <div class='left-section'>
                <%- include('../app-general/partials/admin-nav.ejs') %>
            </div>
            <div class='mid-section'>
                <%- include('./partials/admin-teacher-region-mid-nav.ejs', {data}) %>
                <table>
                <%- include('./partials/admin-teacherdata-table.ejs', {data}) %>
                </table>
            </div>
            <div class='right-section'>
            </div>
        </div>
</body>
</html>