<!DOCTYPE html>
<html>
<head>
    <%- include('../app-general/partials/admin-head.ejs') %>
</head>
<body>
    <%- include('../app-general/partials/app-horizontal-nav.ejs') %>
    <div class='admin-body'>
            <div class='left-section'>
                <%- include('../app-general/partials/admin-nav.ejs') %>
            </div>
            <div class='mid-section'>
                <%- include('./partials/admin-teacher-mid-nav.ejs', {data}) %>
                <% if(data[0].ageGroup==='Tots') { %>
                    <%- include('./partials/admin-roster-form.ejs', {ageGroup: 'Tots', timeTable, timeslots, manpower, data}) %>
                <% } else if (data[0].ageGroup==='Junior') { %>
                    <%- include('./partials/admin-roster-form.ejs', {ageGroup: 'Junior', timeTable, timeslots, manpower, data}) %>
                <% } else if (data[0].ageGroup==='Upper Primary') { %>
                    <%- include('./partials/admin-roster-form.ejs', {ageGroup: 'Upper-Primary', timeTable, timeslots, manpower, data}) %>
                <% } else { %>
                    <%- include('./partials/admin-roster-form.ejs', {ageGroup: 'Lower-Primary', timeTable, timeslots, manpower, data}) %>
                <% } %>
                    <div>
                        <% rosterArr.forEach(rosterTime => { %>
                            <input type="text" value='<%=rosterTime%>' class='roster-data'>
                        <% }) %>
                    </div>
            </div>
            <div class='right-section'>
            </div>
        </div>
</body>
</html>