<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/admin-head.ejs') %>
</head>
<body>
    <%- include('./partials/app-horizontal-nav.ejs') %>
    <%- include('./partials/admin-nav.ejs') %>
    <%= user.username %>
    <%= user.note %>
    <form action='/' method='GET'>
        <input type='submit' value='Log out'>
    </form>
    <form action='/dashboard?_method=PUT' method='POST'>
        <input type='text' name='note'>
        <input type='text' name='id' value="<%=user['_id']%>">
        <input type='submit' value='Submit'>
    </form>
</body>
</html>