<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/admin-head.ejs') %>
</head>
<body>
    <%- include('./partials/app-horizontal-nav.ejs') %>
    <div class='admin-body'>
        <div class='left-section'>
            <%- include('./partials/admin-nav.ejs') %>
        </div>
        <div class='mid-section'>
            <div class = 'charts'>
                <div class = 'ageGroup-chart'>
                    <h2>Age Groups at a glance</h2>
                    <div class='summary-stats'>
                    <div class ='summary-card'>
                        <h3>Number of <br>Tots</h3>
                        <p><%=studentAttendance.totalTotsChildren%></p>
                    </div>
                    <div class ='summary-card'>
                        <h3>Number of <br>Junior</h3>
                        <p><%=studentAttendance.totalJuniorChildren%></p>
                    </div>
                    <div class ='summary-card'>
                        <h3>Number of Lower Primary</h3>
                        <p><%=studentAttendance.totalLowerPrimaryChildren%></p>
                    </div>
                    <div class ='summary-card'>
                        <h3>Number of Upper Primary</h3>
                        <p><%=studentAttendance.totalUpperPrimaryChildren%></p>
                    </div>
                    </div>
                    <h3>Attendance by Age Groups</h3>
                    <canvas id="attendanceChart" ></canvas>
                </div>
                <div class = 'summary-chart'>
                    <h2>Summary</h2>
                    <div id='summary-stats-1'>
                        <h3>Total children</h3>
                        <p><%=studentAttendance.totalUpperPrimaryChildren + studentAttendance.totalLowerPrimaryChildren + studentAttendance.totalJuniorChildren + studentAttendance.totalTotsChildren%></p>
                    </div>
                    <div id='totalAttendanceChart-wrapper'>
                    <canvas id="totalAttendanceChart" height='200px'></canvas>
                    <div>
                </div>
            </div>
            <% studentAttendance.totalMonthlyAvgAttendance.forEach(attendance => { %>
                <input value='<%=attendance%>' class='total-attendance'>
            <% }) %>
            <% studentAttendance.totsMonthlyAvgAttendance.forEach(attendance => { %>
                <input value='<%=attendance%>' class='tots-attendance'>
            <% }) %>
            <% studentAttendance.juniorMonthlyAvgAttendance.forEach(attendance => { %>
                <input value='<%=attendance%>' class='junior-attendance'>
            <% }) %>
            <% studentAttendance.lowerPrimaryMonthlyAvgAttendance.forEach(attendance => { %>
                <input value='<%=attendance%>' class='lower-primary-attendance'>
            <% }) %>
            <% studentAttendance.upperPrimaryMonthlyAvgAttendance.forEach(attendance => { %>
                <input value='<%=attendance%>' class='upper-primary-attendance'>
            <% }) %>

        </div>
    </div>
        </div>
        <div class='right-section'>
    
        </div>
</body>
</html>