<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/admin-head.ejs') %>
</head>
<body>
    <%- include('./partials/app-horizontal-nav.ejs') %>
    <div class='admin-body'>
        <div class='left-section'>
            <%- include('./partials/admin-nav.ejs') %>
        </div>
        <div class='mid-section'>
            <div class = 'charts'>
                <div class = 'ageGroup-chart'>
                    <canvas id="attendanceChart"></canvas>
                </div>
                <div class = 'summary-chart'>
                    <canvas id="totalAttendanceChart"></canvas>
                </div>
            </div>
            <% studentAttendance.totalMonthlyAvgAttendance.forEach(attendance => { %>
                <input value='<%=attendance%>' class='total-attendance'>
            <% }) %>
            <% studentAttendance.totsMonthlyAvgAttendance.forEach(attendance => { %>
                <input value='<%=attendance%>' class='tots-attendance'>
            <% }) %>
            <% studentAttendance.juniorMonthlyAvgAttendance.forEach(attendance => { %>
                <input value='<%=attendance%>' class='junior-attendance'>
            <% }) %>
            <% studentAttendance.lowerPrimaryMonthlyAvgAttendance.forEach(attendance => { %>
                <input value='<%=attendance%>' class='lower-primary-attendance'>
            <% }) %>
            <% studentAttendance.upperPrimaryMonthlyAvgAttendance.forEach(attendance => { %>
                <input value='<%=attendance%>' class='upper-primary-attendance'>
            <% }) %>
        </div>
        <div class='right-section'>

        </div>
    </div>
</body>
</html>