<form action='/students/region/<%=region%>' method='GET'>
    <input type="submit" value='<%=region%> Data' class='nav-subtype' id='nav-subtype-<%=region%>'>
</form>
<form action='/students/region/<%=region%>/attendance' method='GET'>
    <input type="submit" value='<%=region%> Attendance Overview' class='nav-subtype' id='nav-subtype-attendance-<%=region%>'>
</form>
