    <form action='/students/age/<%=ageGroup%>' method='GET'>
        <input type="submit" value='<%=ageGroup%> Data' class='nav-subtype' id='nav-subtype-<%=ageGroup%>' onclick='formatSubtypeOnClick()'>
    </form>
    <form action='/students/age/<%=ageGroup%>/attendance' method='GET'>
        <input type="submit" value='<%=ageGroup%> Attendance Overview' class='nav-subtype' id='nav-subtype-attendance-<%=ageGroup%>' onclick='formatSubtypeOnClick()'>
    </form>
    <form action='/students/age/<%=ageGroup%>/form' method='GET'>
        <input type="submit" value='<%=ageGroup%> Attendance Form' class='nav-subtype' id='nav-subtype-form-<%=ageGroup%>' onclick='formatSubtypeOnClick()'>
    </form>
