<nav>
        <ul class ='subtab-navigator'>
            <div class='subtab-name'>AGE GROUPS</div>
            <div class="subtab-type" onclick='showSubTypeDropdown()' id='dropdown-Tots'>Toddlers</div>
            <div class="subtab-type" onclick='showSubTypeDropdown()' id='dropdown-Junior'>Nursery & Kinders</div>
            <div class="subtab-type" onclick='showSubTypeDropdown()' id='dropdown-Lower-Primary'>Lower Primary</div>
            <div class="subtab-type" onclick='showSubTypeDropdown()' id='dropdown-Upper-Primary'>Upper Primary</div>                                            
        </ul>
        
        <div class ='subtab-navigator'>
        <% if(data[0].ageGroup === 'Tots') { %>
            <div class="dropdown-container" id='dropdown-container-Tots' style='display: block'>
                <%- include('../partials/admin-subtype.ejs', {ageGroup: 'Tots'}) %>
            </div>
        <% } else { %>
            <div class="dropdown-container" id='dropdown-container-Tots'>
                <%- include('../partials/admin-subtype.ejs', {ageGroup: 'Tots'}) %>
            </div>
        <% } %>
        
        <% if(data[0].ageGroup === 'Junior') { %>
            <div class="dropdown-container" id='dropdown-container-Junior' style='display: block'>
                <%- include('../partials/admin-subtype.ejs', {ageGroup: 'Junior'}) %>
            </div>
        <% } else { %>
            <div class="dropdown-container" id='dropdown-container-Junior'>
                <%- include('../partials/admin-subtype.ejs', {ageGroup: 'Junior'}) %>
            </div>
        <% } %>

        <% if(data[0].ageGroup === 'Lower Primary') { %>
            <div class="dropdown-container" id='dropdown-container-Lower-Primary' style='display: block'>
                <%- include('../partials/admin-subtype.ejs', {ageGroup: 'Lower-Primary'}) %>
            </div>
        <% } else { %>
            <div class="dropdown-container" id='dropdown-container-Lower-Primary'>
                <%- include('../partials/admin-subtype.ejs', {ageGroup: 'Lower-Primary'}) %>
            </div>
        <% } %> 

        <% if(data[0].ageGroup === 'Upper Primary') { %>
            <div class="dropdown-container" id='dropdown-container-Upper-Primary' style='display: block'>
                <%- include('../partials/admin-subtype.ejs', {ageGroup: 'Upper-Primary'}) %>
            </div>
        <% } else { %>
            <div class="dropdown-container" id='dropdown-container-Upper-Primary'>
                <%- include('../partials/admin-subtype.ejs', {ageGroup: 'Upper-Primary'}) %>
            </div>
        <% } %> 
        <button onclick='launchChildRegistrationForm()' id='add-child-button'>Add</button>
        </div>
</nav>