<tr>
        <th>Child's Name</th>
        <th>DOB</th>
        <th>Age</th>
        <th>Guardian's Details</th>
        <th>Guardian's Membership</th>
        <th>Overall Attendance</th>
        <th>Child's First Seen</th>
        <th>Child's Last Seen</th>
        <th>Teacher in-charge</th>
</tr>
<% data.forEach(datum => { %>
<tr>
        <td class='first-col'><%= datum.formatChildFullName() %></td>
        <td><%= datum.dob %></td>
        <td><%= datum.formatAgeInYears() %></td>
        <td><%= datum.formatGuardianFullName() %><br>
            <%= datum.formatPhoneNumber() %><br>
            (<%= datum.guardianRole %>)<br>
        </td>
        <td><%= datum.membership %></td>
        <td><%= datum.isRegular %></td>
        <td><%= datum.firstSeen.date %></td>
        <td><%= datum.lastSeen.date %></td>
        <td><%= datum.teacherIC %></td>
</tr>
<% }) %>