    <form action='/students/age/<%=ageGroup%>' method='GET'>
        <input type="submit" value='<%=ageGroup%> Data'>
    </form>
    <form action='/students/age/<%=ageGroup%>/form' method='GET'>
        <input type="submit" value='<%=ageGroup%> Attendance Form'>
    </form>
    <form action='/students/age/<%=ageGroup%>/attendance' method='GET'>
        <input type="submit" value='<%=ageGroup%> Attendance Overview'>
    </form>
